{% extends 'Nutella/base.html' %}
{% load static %}
{% block content %}

<!-- The saved food page-->

<!-- Masthead-->
<header class="masthead" style="height: 15vh; min-height: 10rem;">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-start">
                <h1 class="text-white font-weight-bold">Vos aliments sauvegardés!</h1>
            </div>
        </div>
    </div>
</header>

<!-- Results section if saved products found with this account-->
{% if products %}
<section class="page-section" id="services" style="padding: 3rem 0;">
    <div class="container">
        <h2 class="text-center mt-0">Voici les aliments enregistrés lors de vos précédentes visites <strong>{{ user.name }}</strong>!</h2>
        <hr class="divider my-4" />
        <div class="row">

            {% for product in products %}

                <div class="col-lg-4 col-md-12 text-center">
                    <div class="mt-5">
                        <a class="portfolio-box" href="{% url 'Nutella:product' product.id %}">
                            <img class="img-fluid" src="{{ product.image_small }}" alt="{{ product.image_small }}">
                        </a>
                        <div class="portfolio-box-caption">
                            <h3 class="h4 mb-2">{{ product.name }}</h3>
                            <p class="text-muted mb-0 "><a href="#"> Supprimer de ma liste</a></p>
                        </div>
                    </div>
                </div>

            {% endfor %}


        </div>
    </div>
</section>

<!-- Results section if no saved products found with this account-->
{% else %}
<section class="page-section" id="user_informations" style="height: 45vh; min-height: 45rem; padding: 3rem 0;">
    <div class="container">
        <h2 class="text-center mt-0">Nous n'avons trouvé aucun produit sauvegardé <strong>{{ user.name }}</strong>!</h2>
        <hr class="divider my-4" />
        <div class="row">
            <div class="col-lg-6 col-md-12 text-center"><img src="{% static 'Nutella/assets/img/remy-6.jpg' %}" alt="Photo de Rémy"></div>
            <div class="col-lg-6 col-md-12 align-self-center text-center">                        
                <h3 class="h4 mb-2"><a href="{% url 'Nutella:index' %}">Commencer votre recherche</a></h3>
                <p class="text-muted mb-0"></p>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endblock %}
